@page
@model webb_tst_site3.Pages.Admin.Articles.IndexModel
@{
    ViewData["Title"] = "Управление статьями";
}

@section Styles {
    <style>
        .nested-list {
            list-style: none;
            margin-left: 1em;
        }

            .nested-list li {
                margin: 6px 0;
            }

        .article-actions .btn {
            margin-right: .2em;
        }

        .draggable {
            cursor: move;
        }
    </style>
}

<div class="container">
    <h1 class="mb-3">@ViewData["Title"]</h1>
    <a asp-page="Create" class="btn btn-success mb-3"><i class="fas fa-plus"></i> Добавить статью</a>

    @if (Model.ArticlesTree.Any())
    {
        <ul class="nested-list" id="articleTree">
            @foreach (var article in Model.ArticlesTree)
            {
                @await Html.PartialAsync("_ArticleTreeItem", article)
            }
        </ul>
    }
    else
    {
        <div class="alert alert-info">Нет статей, создайте первую!</div>
    }
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>
    <script>
        // Drag & drop сортировка (backend для этого нужен отдельный API)
        new Sortable(document.getElementById('articleTree'), {
            group: 'articles',
            animation: 150,
            fallbackOnBody: true,
            swapThreshold: 0.65,
            onEnd: function (evt) {
                // Сюда можно добавить ajax-запрос для обновления родителя/порядка
                // Пример: fetch('/Admin/Articles/Move?id=...&newParentId=...')
            }
        });
    </script>
}