﻿@using Microsoft.AspNetCore.Authentication
@using System.Security.Claims
@{
    var isAuthenticated = User.Identity?.IsAuthenticated ?? false;
}

<ul class="navbar-nav">
    @if (isAuthenticated)
    {
        <li class="nav-item">
            <span class="nav-link">@User.Identity?.Name</span>
        </li>
        <li class="nav-item">
            <form method="post" asp-page="/Admin/Logout">
                <button type="submit" class="nav-link btn btn-link">Выйти</button>
            </form>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/Profile">
                <i class="fas fa-user"></i> Профиль
            </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-page="/Admin/Login">Вход</a>
        </li>
    }
</ul>