@page
@model webb_tst_site3.Pages.Admin.Settings.IndexModel
@{
    ViewData["Title"] = "Настройки сайта";
}
<h1 class="mb-4">Настройки сайта</h1>
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}
<form method="post">
    <div class="mb-3">
        <label asp-for="Settings.SiteName" class="form-label">Название сайта</label>
        <input asp-for="Settings.SiteName" class="form-control" />
        <span asp-validation-for="Settings.SiteName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Settings.MainPageText" class="form-label">Текст на главной странице</label>
        <textarea asp-for="Settings.MainPageText" class="form-control" rows="4"></textarea>
        <span asp-validation-for="Settings.MainPageText" class="text-danger"></span>
    </div>

    @* <div class="mb-3">
    <label asp-for="Settings.FooterText" class="form-label">Текст в подвале сайта</label>
    <input asp-for="Settings.FooterText" class="form-control" />
    <span asp-validation-for="Settings.FooterText" class="text-danger"></span>
    </div> *@

    <button type="submit" class="btn btn-success">Сохранить</button>
</form>