@page "{id:int}"
@model webb_tst_site3.Pages.Admin.Quizzes.Questions.Answers.EditModel
@{
    ViewData["Title"] = "Редактировать ответ";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>

    <form method="post">
        <input type="hidden" asp-for="Answer.Id" />
        <input type="hidden" asp-for="Answer.QuestionId" />
        <input type="hidden" asp-for="QuizId" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group mb-3">
            <label asp-for="Answer.Text" class="form-label"></label>
            <input asp-for="Answer.Text" class="form-control" required />
            <span asp-validation-for="Answer.Text" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Answer.Score" class="form-label"></label>
            <input asp-for="Answer.Score" class="form-control" type="number" min="1" required />
        </div>

        <div class="form-group mb-3">
            <label asp-for="Answer.ResultId" class="form-label"></label>
            <select asp-for="Answer.ResultId" class="form-control" required
                    asp-items="Model.Results">
            </select>
            <span asp-validation-for="Answer.ResultId" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a asp-page="./Index"
           asp-route-questionId="@Model.Answer.QuestionId"
           class="btn btn-secondary">
            Отмена
        </a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}