@page
@model webb_tst_site3.Pages.ArticlesModel
@{
    ViewData["Title"] = "Статьи";
}

<div class="container mt-4">
    <h1 class="mb-4">Статьи</h1>
    <div class="row">
        @foreach (var article in Model.Articles)
        {
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">@article.Title</h5>
                        <p class="card-text">@article.Description</p>
                    </div>
                    <div class="card-footer bg-white border-0">
                        <a href="@article.Url" target="_blank" class="btn btn-primary w-100">
                            <i class="fas fa-external-link-alt me-2"></i>Читать
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>